html,
body {
  width: auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

.horizontal-flex-container {
  display: flex;
  height: 100%;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
